body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* max-width: 1158px; */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* =====================header====================== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  display: none;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

.address-list {
  display: flex;
  gap: 40px;
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
  border: none;
}

/*===========hero==========*/

.hero {
  background-color: #2e2f42;
  padding: 72px 0 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-phone.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), 
(min-resolution: 2dppx) {
  .hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-phone-2x.jpg);
  }
}

.title-hero {
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-transform: capitalize;
}

.button-hero {
  display: block;
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  border-radius: 4;
  align-items: center;
  padding: 16px 32px;
  gap: 10px;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: #404bbf;
}

/*===============section list advantages================*/
.section-list .title-second {
  line-height: 1.2;
  margin-bottom: 8px;
}

.section-list {
  padding: 96px 0 96px;
}

.list-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.list-advantages:last-child {
  margin-right: 0;
}

.list-advantages-item {
  width: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icon {
  display: none;
}

.title-second {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.list-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*===================section team==================*/

.section-team {
  padding: 96px 0 96px;
}

.section-team .container {
  padding: 0 28px;
}

.section-team .title-second {
  line-height: 1.11;
  margin-bottom: 72px;
}

.name-team {
  padding: 32px 0;
}

.name-team .list-title {
  margin-bottom: 8px;
}

.name-team .list-text {
  margin-bottom: 8px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0 auto;
}

.list-team-image {
  width: 100%;
  display: block;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.name-team .list-title {
  text-align: center;
  margin-bottom: 8px;
}

.name-team .list-text {
  text-align: center;
}

.list-team-items {
  background: #fff;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
}

.list-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon {
  fill: #f4f4fd;
}

/*=====================section-portfolio==================*/

.section-portfolio {
  /* padding: 120px 0 120px 0; */
  padding: 96px 0 96px;
}

.portfolio .title-second {
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px;
  column-gap: 24px;
  row-gap: 48px;
  flex-shrink: 0;
}

.list-portfolio-item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.list-portfolio-item:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-container .list-title {
  display: flex;
  text-align: start;
}

.list-portfolio-image {
  background-color: lightgray;
  display: block;
}

.portfolio-container .list-title {
  margin-bottom: 8px;
}

.overlay-wrap {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*==================footer==================*/

.footer {
  background-color: hsl(237, 18%, 22%);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.container-footer-logo {
  margin-right: 120px;
}

.footer-info {
  margin-left: 156px;
}

.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-family: Roboto;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-text-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
  margin-bottom: 16px;
}

.footer-list-media {
  display: flex;
  gap: 16px;
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.footer-send-container {
  margin-left: 80px;
}

.footer-text-sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  color: #fff;
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  padding-bottom: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0, 04em;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
}

.icon-send {
  margin-left: 16px;
}

/* ====================modal===================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.container-comment {
  margin-bottom: 16px;
}

.modal-checkbox {
  width: 338px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 36px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 38px;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 36px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
}

.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-span {
  margin-right: 8px;
}

.check-text a {
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
}

.form-checkbox:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-text::before {
  content: "";
}

.modal-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #fff;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=======================HEADER==================== */

/* ===========Tablet============== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .open-menu-btn {
    display: none;
  }

  .address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .logo-header {
    margin-right: 120px;
  }

  .address-link {
    color: #434455;
    /* font-size: 16px; */
    font-size: 12px;
    font-weight: 400;
    /* line-height: 1.5; */
    line-height: 1.16;
    /* letter-spacing: 0.02em; */
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

/* ===========Desktop============== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .logo-header {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* =======================HERO===================== */

/* ===========Tablet============== */
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0 112px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi), 
  (min-resolution: 2dppx) {
  .hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-tablet-2x.jpg);
    }
  }

  .title-hero {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  
}

/* ===========Desktop============== */
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0 188px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi), 
  (min-resolution: 2dppx) {
  .hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-2x.jpg);
    }
  }
}

/*===============section list advantages================*/

/* ===========Tablet============== */
@media screen and (min-width: 768px) {
  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .list-advantages-item {
    width: calc((100% - 24px) / 2);
  }
}

/* ===========Desktop============== */
@media screen and (min-width: 1158px) {
  .section-list {
    padding: 120px 0 120px;
  }

  .list-advantages {
    margin: 0 24px;
    margin-left: 0;
  }


  .list-advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-icon {
    display: flex;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: start;
  }
}

/* ==================section team=================== */

/* ===========Tablet============== */
@media screen and (min-width: 768px) {
  .list-team {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .list-team-items {
    width: calc((100% - 24px) / 2);
  }

  .section-team {
    .container {
      padding: 0 108px;
    }
  }
}

/* ===========Desktop============== */
@media screen and (min-width: 1158px) {
  .section-list {
    padding: 120px 0;
  }

  .list-team {
  display: flex;
  flex-direction: row;
  gap: 24px;
  }

  .list-team-items {
    width: calc((100% - 72px) / 4);
  }

  .section-team {
    .container {
      padding: 0 56px;
    }
}

/*====================section portfolio================ */

/* ===========Tablet============== */
@media screen and (min-width: 768px) {
  .list-portfolio {
    flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
  }

  .list-portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  
}

/* ===========Desktop============== */